---
import Layout from "../layouts/Layout.astro";
import LinkCard from "../components/LinkCard.astro";
import LinkSection from "../components/LinkSection.astro";
import { featuredLinks, projectLinks, utilityLinks } from "../data/links";
---

<Layout
    title="Elite Group x Elite Gaming"
    description="We are a community with a focus on gaming, project development and much more, featuring Elite Gaming FiveM, Elite Bot and Elite Music Discord bots! 🔥 🎮"
>
    <div class="space-y-12">
        <LinkSection title="Featured" description="Join the community today and jump into our fun FiveM experience.">
            {featuredLinks.map((link) => <LinkCard featured {...link} />)}
        </LinkSection>

        <LinkSection title="Our Projects" description="Check out some of our dope projects that we work on.">
            {projectLinks.map((link) => <LinkCard {...link} />)}
        </LinkSection>

        <LinkSection title="Utility" description="Check out some of the extras below." columns={1}>
            {utilityLinks.map((link) => <LinkCard {...link} />)}
        </LinkSection>
    </div>
</Layout>
